---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import Views from "../../components/Views.astro";
import Engagement from "../../components/Engagement.astro";
import FormattedDate from "../../components/FormattedDate.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main class="mx-auto w-[960px]">
      <ul class="flex flex-wrap gap-4 list-none p-0">
        {
          posts.map((post, index) => (
            <li
              class={`${
                index === 0 ? "w-full mb-4 text-center" : "w-[calc(50%-1rem)]"
              }`}
            >
              <a href={`/blog/${post.id}/`} class="group">
                <div>
                  <img
                    width={720}
                    height={360}
                    src={post.data.heroImage}
                    alt=""
                    class={`mb-2 rounded-lg shadow transition-all group-hover:shadow-xl ${
                      index === 0 ? "w-full" : "h-64 object-cover"
                    }`}
                  />
                </div>
                <h4
                  class={`font-bold leading-tight transition-colors group-hover:text-accent ${
                    index === 0 ? "text-4xl font-light" : "text-lg"
                  }`}
                >
                  {post.data.title}
                </h4>
                <div
                  class={`flex px-1 gap-4 ${index === 0 ? "justify-center" : "justify-between"}`}
                >
                  <FormattedDate
                    date={post.data.pubDate}
                    classStyles="text-[0.9em]"
                  />
                  <Engagement blog={post.id} />
                </div>
              </a>
            </li>
          ))
        }
      </ul>
    </main>
    <Footer />
  </body>
</html>
