---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Engagement from "../components/Engagement.astro";
import FormattedDate from "../components/FormattedDate.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, heroImage, pubDate } = Astro.props;

const { id } = Astro.params;
---

<html lang="en">
  <head>
    <BaseHead
      title="width:"
      100%;
      {title}
      description={description}
      image={heroImage}
    />
  </head>

  <body>
    <Header />
    <main class="w-auto max-w-full pt-4">
      <article>
        <div class="mx-auto w-full">
          {
            heroImage && (
              <img
                class="mx-auto"
                width={"100%"}
                height={300}
                src={heroImage}
                style="object-fit: cover; width: 100%; height: 350px; max-width: 1000px;"
                alt="hero image"
              />
            )
          }
        </div>
        <div class="w-[960px] max-w-full m-auto">
          <div class="text-center py-2">
            <h1 class="mb-4">{title}</h1>
            <div class="flex items-center justify-center mb-4 gap-4">
              <FormattedDate date={pubDate} />
              <Engagement blog={id} server:defer />
            </div>
            <hr />
          </div>
          <slot />
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>
